@model IEnumerable<BookStore.Core.Entities.Models.Bookitem>

@{
    ViewData["Title"] = "Index";
}

<h1>Blogs </h1>

<p>
    <a asp-action="Create" class="btn-success">Add New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card bg-dark text-white my-4" >
            <img class="card-img" height="300px" src="@item.ImageUrl" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">@item.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@item.Author</h6>
                @if (item.Content.Length < 205)
                {
                    <p class="card-text">@item.Content</p>
                }
                else
                {
                    <p class="card-text">@item.Content.Substring(0,200)</p>
                }
                <p class="card-text">Published Date : @item.PublishedDate.ToString()</p>
                <p>@Html.ActionLink("Edit", "Edit", new {id=item.Id}) |  @Html.ActionLink("Details", "Details", new {id=item.Id}) </p>
            </div>
        </div>








        @*<div class="col-sm-3 mb-3">
            <div class="card">
                <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    
                    <p class="card-text">@item.Content</p>
                    <ul class="list-group list-group-flush">
                 <li class="list-group-item">Published date :@item.PublishedDate.ToString()</li>
                 </ul>
                    
                </div>
            </div>
        </div>*@
    }

</div>









           @* <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
     